@import "./variables";
@import './mixins';
@import './responsive';
@import "./section1";
@import "./cards";
@import "./transiciones";


body {
  background-color: $black;
  background-image: url(/imagenes/rejilla.svg);
  background-position: center;
  background-size: cover;
}

nav {
  font-family: $primaryFont;
  .navbar-brand {
    font-weight: 900;
    font-size: 1rem;
  }
  ul {
    animation: none;
    .nav-item {
      a {
        font-weight: 500;
        font-size: 1rem;
        &:hover {
          color: $primaryFont;
          text-decoration: underline;
        }
      }
    }
  }
  
}

